@page "/gifs"
@using BlazorApp.Data

@inject GiphyClientService GiphyClientService
@using BlazorApp.models

<h3>Gifs</h3>

<div id="GifsContainer">
    @if (_giphy_content == null)
    {
        <h2> Loading... </h2>
    }
    else
    {
        @if (_giphy_content.Length > 0)
        {
            @foreach (var gif in _giphy_content)
            {
                <iframe id="@gif.id" src="@gif.embed_url" alt="@gif.title  @gif.url" />
            }
        }
        else
        {
            <h2> no gifs, try harder </h2>
        }
    }
</div>

<div id="searchbar">
    <input placeholder="Search Keyword" @bind="Keyword" />

    <select id="select-box" bind="@_gifType" @onchange="ReloadContent">
        <option value="@GiphyClientService.GifType.Gif">Gif</option>
        <option value="@GiphyClientService.GifType.Sticker">Sticker</option>
    </select>

    <button type="button" @onclick="Search"> Search </button>
</div>

@code {

    private string Keyword { get; set; }
    private GiphyClientService.GifType _gifType = GiphyClientService.GifType.Gif;

    private Datum[] _giphy_content;

    protected override async Task OnInitializedAsync()
    {
        _giphy_content = await GiphyClientService.GetGifsAsync(GiphyClientService.GifType.Gif);
    }

    private async Task ReloadContent(ChangeEventArgs e)
    {

        if (e != null)
        {
            if (e.Value != null)
            {
                GiphyClientService.GifType.TryParse((string)e.Value, out _gifType);

            }
        }
      
        await Search();
        Keyword = string.Empty;
    }

    private async Task Search()
    {
        if (Keyword == null || Keyword.Length <= 0)
        {
            _giphy_content = await GiphyClientService.GetGifsAsync(_gifType);
        }
        else
        {
            _giphy_content = await GiphyClientService.GetGifsAsync(_gifType, Keyword);
        }
    }

}